//COLORS

$color-body: #000000;
$color-primary: #F09420;
$color-secondary: #0F162E;
$color-tertiary: #57B047;

//FONTFAMILY

$body-font: 'Open Sans', sans-serif;
// $heading-font: 'Roboto', sans-serif;
$heading-font: 'Open Sans', sans-serif;
$extra-font: 'MuseoModerno', cursive;

//FONT WEIGHT

$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;